<!-- NAME: Paul Krimm -->
<!-- DATE: 2018.09.18 -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="wwwroot/content/css/styles.min.css" media="screen" />
    <title>@@title</title>
    
    <!--initialize objects for JavaScript-->
    <script type="text/javascript">var MODULES = {}; MODULES.UI = {}; var COMPONENTS = {}; var USER = {};</script>
</head>