/*source: 
    https://teamcolorcodes.com/category/nfl-team-color-codes/page/1/
*/
.cardinals-bg {
	background-color: #97233F;
}

.cardinals {
	color: #97233F;
}

.falcons-bg {
	background-color: #A71930;
}

.falcons {
	color: #A71930;
}

.redskins-bg {
	background-color: #773141;
}

.redskins {
	color: #773141;
}

.bills-bg {
    background-color: #00338D;
}

.bills {
    color: #00338D;
}

.eagles-bg {
	background-color: #004C54;
}

.eagles {
	color: #004C54;
}

.giants-bg {
	background-color: #0B2265;
}

.giants {
	color: #0B2265;
}

.cowboys-bg {
	background-color: #041E42;
}

.cowboys {
	color: #041E42;
}

.chargers-bg {
	background-color: #002A5E;
}

.chargers {
	color: #002A5E;
}

.raiders-bg {
	background-color: #000000;
}

.raiders {
	color: #000000;
}

.chiefs-bg {
	background-color: #E31837;
}

.chiefs {
	color: #E31837;
}

.broncos-bg {
	background-color: #FB4F14;
}

.broncos {
	color: #FB4F14;
}

.titans-bg {
	background-color: #4495D1;
}

.titans {
	color: #4495D1;
}

.jaguars-bg {
	background-color: #006778;
}

.jaguars {
	color: #006778;
}

.colts-bg {
	background-color: #002C5F;
}

.colts {
	color: #002C5F;
}

.texans-bg {
	background-color: #03202F;
}

.texans {
	color: #03202F;
}

.steelers-bg {
    background-color: #FFB612;
    color: #101820;
}

.steelers {
	color: #FFB612;
}

.browns-bg {
	background-color: #311D00;
}

.browns {
	color: #311D00;
}

.bengals-bg {
	background-color: #FB4F14;
}

.bengals {
	color: #FB4F14;
}

.ravens-bg {
	background-color: #241773;
}

.ravens {
	color: #241773;
}

.jets-bg {
	background-color: #003F2D;
}

.jets {
	color: #003F2D;
}

.patriots-bg {
	background-color: #002244;
}

.patriots {
	color: #002244;
}

.dolphins-bg {
	background-color: #008E97;
}

.dolphins {
	color: #008E97;
}

.seahawks-bg {
    background-color: #69BE28;
    color: #002244;
}

.seahawks {
	color: #69BE28;
}

.forty-niners-bg {
	background-color: #AA0000;
}

.forty-niners {
	color: #AA0000;
}

.rams-bg {
	background-color: #002244;
}

.rams {
	color: #002244;
}

.buccaneers-bg {
	background-color: #D50A0A;
}

.buccaneers {
	color: #D50A0A;
}

.saints-bg {
    background-color: #D3BC8D;
    color: #101820;
}

.saints {
	color: #D3BC8D;
}

.panthers-bg {
	background-color: #0085CA;
}

.panthers {
	color: #0085CA;
}

.vikings-bg {
	background-color: #4F2683;
}

.vikings {
	color: #4F2683;
}

.packers-bg {
	background-color: #203731;
}

.packers {
	color: #203731;
}

.lions-bg {
	background-color: #0076B6;
}

.lions {
	color: #0076B6;
}

.bears-bg {
	background-color: #0B162A;
}

.bears {
	color: #0B162A;
}